/*CSS stylesheet for the index.html page*/
h1{
  font-family: "Lucida Sans Unicode", Verdana, Arial, serif;
  font-size: 71pt;
  color: rgb(53, 109, 91);
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}
h2,h3{
  font-family: "Lucida Sans Unicode", Verdana, Arial, serif;
  color: white;
  /*text-align: center;*/
}
body{
  margin-left: 25px;
  background-image: url("Pics/brickwall.jpg");
  background-size:2000px;
  background-attachment: fixed;
}
p{
  font-family: "Lucida Sans Unicode", Verdana, Arial, serif;
  color: white;
}
#inner{
  background: rgba(0, 0, 0, 0.5);
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#outer{
  width:850px;
  margin-left: auto;
  margin-right: auto;
}
pre{
  color: white;
}
a{
  color: white;
  text-decoration: underline;
}
.lighten:hover{
  opacity:0.5;
}
hr{
  width: 715px
}
#picnic_pie{
  width: 720px;
}
